DB_USERNAME=postgres
DB_PASSWORD=root
JPA_HIBERNATE_DDL_AUTO=validate
JPA_SHOW_SQL=true
JWT_SECRET=beccd90a1da85fb4b5250c83da4f5b97566cd50cf23f37f6110fcee6918ccfff
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
JWT_TOKEN_TYPE=Bearer
MAIL_USERNAME=
MAIL_PASSWORD=